<a href="https://colab.research.google.com/github/Arathi-J/Python_lab/blob/main/Program_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to display the message "Welcome to MITS"
print ( "Welcome to MITS" )

Welcome to MITS

In [ ]:
# Write a program to display the message
 #Muthoot institute of technology and science
 #Varikoli
 #Puthankuriz

print("Muthoot institute of technology and science\nVarikoli\nPuthankuriz")

Muthoot institute of technology and science
Varikoli
Puthankuriz

In [ ]:
print("""Muthoot institute of technology and science
Varikoli
Puthankuriz""")

Muthoot institute of technology and science
Varikoli
Puthankuriz

In [ ]:
#Write a program to asign values 5 to x and 10 to y and print the same.
#print x+y
x=5
y=10
print("x =",x)
print("y =",y)
print("x+y",x+y)

x = 5
y = 10
x+y 15

In [ ]:
# write a program to input 2 numbers. And find sum,different and product.
a=int(input("Enter first number\t"))
b=int(input("Enter second number\t"))
print("a+b =",a+b, "\na-b =",a-b,"\na/b =",a/b)

Enter first number	8
Enter second number	4
a+b = 12
a-b = 4
a/b = 2.0

In [ ]:
#write a program to input a number if the number is grater than 10 display appropriate message.
n=int(input("Enter a number : "))
if(n>10):
  print("n is grater than 10")
else:
  print("n is less than 10")

Enter a number : 46
n is grater than 10

In [ ]:
#write a program to input the age of a person, check whether the person is eligible to vote and display appropriate message.
age=int(input("Enter your age : "))
if(age>=18):
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age : 21
You are eligible to vote

In [ ]:
#write a program to input 2 numbers, find the largest of 2 numbers.
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
if(a==b):
  print("Both the numbers are equal")
elif(a>b):
  print(a,"is larger  than",b)
else:
  print(b,"is larger  than",a)

Enter the first number : 6
Enter the second number : 8
8 is larger  than 6

In [ ]:
#write a program to input a number check whether the number is odd or even.
n=int(input("Enter a number"))
if(n%2==0):
  print(n,"is an even number")
else:
  print(n,"is an odd number")

Enter a number64
64 is an even number

In [ ]:
#write a program to input 2 numbers, find their sum, display appropriate message if the sum is grater than 10.
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
s=a+b
if(s>10):
  print("Sum is grater than 10 which is ",s)
else:
  print("Sum is less than 10 which is ",s)

Enter the first number : 5
Enter the second number : 2
Sum is less than 10 which is  7

In [ ]:
#Find the largest of 3 numbers.
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
c=int(input("Enter the third number : "))
if(a==b and b==c):
  print("All the numbers are equal")
elif(a>b and a>c):
  print(a,"is the largest number")
elif(b>a and b>c):
  print(b,"is the largest number")
else:
  print(c,"is the largest number")

Enter the first number : 53
Enter the second number : 08
Enter the third number : 36
53 is the largest number

In [ ]:
#Write program to print "Mary's notebook is white in color"
print("Mary's notebook is white in color")

Mary's notebook is white in color

In [ ]:
#write a program to display the first n natural numbers.
n= int ( input ( "Enter the value of n" ) ))

In [ ]:
#write a program to display the first N even numbers

0
1
2
3
4
5
6
7
8
9

In [ ]:
#write a program to display N even numbers upto 10
n=int(input("Enter the value of n "))
for i in range(10):
  if(i%2==0):
    print(i)

Enter the value of n 21
0
2
4
6
8

In [ ]:
# 1. Program to find the factorial of a number

**CO1**
```

In [ ]:
# 2. Display future leap years from current year to a final year entered by user.
l=int(input("Enter the limit: "))
for i in range(2023,l):
  if(i%4==0 and i%100!= 0 or i%400==0):
    print(i)

Enter an limit: 2040
2024
2028
2032
2036

In [ ]:
#3.List comprehensions:
#a).Generate positive list of numbers from a given list of integers



list=[-1,3,-4,-3,9,5,7,-5]
print([i for i in list if i>0])

[3, 9, 5, 7]

In [ ]:
#b). Square of N numbers
li=[1,5,4,7,9]
l=[i**2 for i in li]
print('square of the list =',l)

square of the list = [1, 25, 16, 49, 81]

In [ ]:
#c). Form a list of vowels selected from a given word
a=input("Enter a word :")
print([i for i in a if i in 'aeiouAEIOU'])

Enter a word :CONSUME
['O', 'U', 'E']

In [ ]:
#d). List ordinal value of each element of a word (Hint: use ord() to get ordinal values)
a=input('Enter a word : ')
print([ord(i) for i in a])

Enter a word : ABCD
[65, 66, 67, 68]

In [ ]:
# 4. Count the occurrences of each word in a line of text
se=input("Enter a sentance :")
words=se.split()
print(words)
for i in words:
  print(i,'occurs', se.count(i),'times')

Enter a sentance :hello how are you hello
['hello', 'how', 'are', 'you', 'hello']
hello occurs 2 times
how occurs 1 times
are occurs 1 times
you occurs 1 times
hello occurs 2 times

In [ ]:
#5. Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.
a=[]
n=int(input('How many values you want to enter to the list:'))
print('Enter the values:')
for i in range(n):
  x=int(input())
  if x>100:
    a.append('over')
  else:
    a.append(x)
print(a)

How many values you want to enter to the list:5
Enter the values:
13
567
254
100
23
[13, 'over', 'over', 100, 23]

In [ ]:
# 6. Store a list of first names. Count the occurrences of ‘a’ within the list
a=[]
n=int(input('How many elements in the list:'))
print('Enter first names:')
for i in range(n):
  x=input()
  a.append(x)
print(a)
print('\n')
for i in a:
  print(i,'=',i.count('a'),'times')

How many elements in the list:3
Enter first names:
aaranya
arathi
anu
['aaranya', 'arathi', 'anu']


aaranya = 4 times
arathi = 2 times
anu = 1 times

In [ ]:
# 7. Enter 2 lists of integers. Check
#   (a) Whether list are of same length
#   (b) whether list sums to same value
#   (c) whether any value occur in both
print("Enter 2 lists of integers. Check \n(a) Whether list are of same length\n(b) whether list sums to same value\n(c) whether any value occur in both\n(d) Exit\n ")
#first list
a=[]
n=int(input('How many elements in the first list:'))
print('Enter the elements:')
for i in range(n):
  x=int(input())
  a.append(x)
#second list
b=[]
n=int(input('How many elements in the second list:'))
print('Enter the elements:')
for i in range(n):
  x=int(input())
  b.append(x)
print('a=',a)
print('b=',b,'\n')
ch=0
while ch==0:
  op=input('which question you want to do:')

  # (a) Whether list are of same length
  if op=='a':
    if len(a)==len(b):
      print('Length of 2 lists are same')
    else:
      print('Length of 2 lists are different')
  # (b) whether list sums to same value
  elif op=='b':
    sum1=0
    sum2=0
    for i in a:
      sum1=sum1+i
    for i in b:
      sum2=sum2+i
    print(sum1)
    print(sum2)
    if sum1==sum2:
      print('Both list sums to same values')
    else:
      print('Both list sums to different values')
  # (c) whether any value occur in both
  elif op=='c':
    for i in a:
      for j in b:
        if i==j:
          print(i,"is common in both lists")
  elif op=='d':
    ch=1
    print('Thank You')
  else:
    print("Invalid input")

Enter 2 lists of integers. Check
(a) Whether list are of same length
(b) whether list sums to same value
(c) whether any value occur in both
(d) Exit

How many elements in the first list:4
Enter the elements:
1
5
2
7
How many elements in the second list:4
Enter the elements:
2
8
9
3
a= [1, 5, 2, 7]
b= [2, 8, 9, 3]

which question you want to do:a
Length of 2 lists are same
which question you want to do:b
15
22
Both list sums to different values
which question you want to do:c
2 is common in both lists
which question you want to do:p
Invalid input
which question you want to do:d
Thank You

In [ ]:
# 8) Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.
#[eg: onion -> oni$n]

a=input("Enter a word :")
s=a[0]
a=a.replace(s,'$')
print(s+a[1:])

Enter a word :hahaha
ha$a$a

In [ ]:
#9.	Create a string from given string where first and last characters exchanged.  [eg: python -
#   > nythop]
st=input("Enter a strinng : ")
st[-1]+st[1:-1]+st[0]

Enter a strinng : python

'nythop'

In [ ]:
name='arathi'
(name[-1])

name[-1]+name[1:-1]+name[0]

'iratha'

In [ ]:
n=4
for i in range(n-1,0,-1):
  print('*'*i)

In [ ]:
# 10. Accept the radius from user and find area of circle.
r=int(input("Enter the radius"))
area=3.14*(r**2)
print("Area= ",area)

Enter the radius6
Area=  113.04

In [ ]:
# 11. Find biggest of 3 numbers entered.
n1=int(input("Enter an first number"))
n2=int(input("Enter an first number"))
n3=int(input("Enter an first number"))
if n1>n2 and n1>n3:
  print("Biggest number= ",n1)
elif n2>n1 and n2>n3:
  print("Biggest number= ",n2)
else:
  print(n3)

Enter an first number54
Enter an first number3
Enter an first number87
87

In [ ]:
f_name=input("Enter a filename")
f_ext=f_name.split(".")
print(f_ext)
print(f_ext[-1])

Enter a filenameabc.py
['abc', 'py']
py

In [ ]:
#12. Accept a file name from user and print extension of that.
file=input("Enter the file name with extension: ")
x=0
for i in file:
  x+=1
  if i=='.':
    print(file[x:])

Enter the file name with extension: abc.py
py

In [ ]:
#13.	Create a list of colors from comma-separated color names entered by user. Display first and last colors.
# Get comma-separated color names from the user
color_input = input("Enter comma-separated color names: ")

# Split the input into a list of colors
colors = color_input.split(",")

# Remove leading and trailing spaces from each color name
colors = [color.strip() for color in colors]

# Check if at least two colors were entered
if len(colors) < 2:
    print("Please enter at least two color names.")
else:
    # Display the first and last colors
    print("First color:", colors[0])
    print("Last color:", colors[-1])

Enter comma-separated color names: black,orange,ross,white
First color: black
Last color: white

In [ ]:
#14.	Accept an integer n and compute n+nn+nnn.
n=int(input("Enter a number : "))
print(n,'+',n,n,'+',n,n,n ,'= ',n+n*11+n*111)

Enter a number : 5
5 + 5 5 + 5 5 5 =  615

In [ ]:
#15.	Print out all colors from color-list1 not contained in color-list2.
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print("Original set elements:")
print(color_list_1)
print(color_list_2)
print("\nDifference of color_list_1 and color_list_2:")
print(color_list_1.difference(color_list_2))

Original set elements:
{'Red', 'Black', 'White'}
{'Green', 'Red'}

Difference of color_list_1 and color_list_2:
{'Black', 'White'}

In [ ]:
#16.	Create a single string separated with space from two strings by swapping the character at position 1.
s1=input("Enter string 1 : ")
s2=input("Enter string 2 : ")
s3=s2[0]+s1[1:]+" "+s1[0]+s2[1:]
print("Swapped string :",s3)

Enter string 1 : hello
Enter string 2 : wow
Swapped string : wello how

In [ ]:
#17.	Sort dictionary in ascending and descending order.
d = {'Anu': 10, 'Devu': 20,'Kunju': 30}
print("Ascending order : ",dict(sorted(d.items())))
print("Descending order : ",dict(sorted(d.items(), reverse=True)))

Ascending order :  {'Anu': 10, 'Devu': 20, 'Kunju': 30}
Descending order :  {'Kunju': 30, 'Devu': 20, 'Anu': 10}

In [ ]:
#18.	Merge two dictionaries.
d1 = {'Book': 10,'Pencil': 20, 'Pouch': 30}
d2 = {'Hari': 20,'Sree': 40, 'vrintha': 50}
print("Merged dictionaries :\n",d1|d2)

Merged dictionaries :
 {'Book': 10, 'Pencil': 20, 'Pouch': 30, 'Hari': 20, 'Sree': 40, 'vrintha': 50}

In [ ]:
#19.	Find gcd of 2 numbers.
import math
x=int(input("Enter the first number : "))
y=int(input("Enter the second number : "))
print("GCD = ",math.gcd(x,y))

Enter the first number : 42
Enter the second number : 8
GCD =  2

In [ ]:
#20.	From a list of integers, create a list removing even numbers.
l=[]
n=int(input('Enter size of the list :'))
print('Enter the elements:')
for i in range(n):
  x=int(input())
  l.append(x)
for i in l:
 if i%2==0:
  l.remove(i)
print('The list : ',l)

Enter size of the list :5
Enter the elements:
3
7
2
9
6
The list :  [3, 7, 9]

**CO2**

---

In [ ]:
#1.	Program to find the factorial of a number
n=int(input('Enter the number : '))
fact=1
for i in range(1,n+1):
  fact *=i
print(n,'!',' = ',fact)

Enter the number : 6
6 !  =  720

In [ ]:
# 2.	Generate Fibonacci series of N terms
n=int(input("Enter a number : "))
a=0
b=1
c=a+b
print('Fibonacci series :')
print(a)
print(b)
print(c)
for i in range(3,n):
  a=b
  b=c
  c=a+b
  print(c)

Enter a number : 6
Fibonacci series :
0
1
1
2
3
5

In [ ]:
#3.	Find the sum of all items in a list
l=[]
n=int(input('Enter size of the list :'))
print('Enter the elements:')
for i in range(n):
  x=int(input())
  l.append(x)
sum=0
for i in range(n):
  sum=sum+l[i]
print('Sum = ',sum)

Enter size of the list :4
Enter the elements:
1
4
6
2
Sum =  13

In [ ]:
#
res=[]
for i in range(1000,10000):
    if all(int(x)%2==0 for x in str(i)):
        if int(i**0.5)**2==i:
            res.append(i)
print("List of numbers : ",res)

List of numbers :  [4624, 6084, 6400, 8464]

In [ ]:
#5.	Display the given pyramid with step number accepted from user. Eg: N=4
#1
#2 4
#3 6 9
#4 8 12 16
n=4
for i in range(1,n+1):
  for j in range(1,i+1):
    value = i * j
    print(value, end=" ")
  print()

1
2 4
3 6 9
4 8 12 16

In [ ]:
#
string = input("Enter a string: ")
char_count = {}
for char in string:
    char_count[char] = char_count.get(char, 0) + 1
for char, count in char_count.items():
    print(f"'{char}': {count}")

Enter a string: hello
'h': 1
'e': 1
'l': 2
'o': 1

In [ ]:
# 7) Add ‘ing’ at the end of a given string. If it already ends with ‘ing’, then add ‘ly’

s=input('enter a string : ')
if s.endswith("ing"):
  r=s+'ly'
else:
  r=s+'ing'
print(r)

enter a string : hello i am writing
hello i am writingly

In [ ]:
#8.	Accept a list of words and return length of longest word.
l=[]
n=int(input('Enter size of the list :'))
print('Enter the string :')
for i in range(n):
  x=input()
  l.append(x)
temp = max(l, key=len)
print("Word with max length is", temp, "\nIts length is", len(temp))

Enter size of the list :3
Enter the string :
book
pencil
pen
Word with max length is pencil
Its length is 6

In [ ]:
#9) Construct following pattern using nested loop
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * *
# * * *
# * *
# *


n=4
for i in range(1,n+1):
  print('* '*i)

for i in range(n-1,0,-1):
  print('* '*i)

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
#10.	Generate all factors of a number.
def facts(x):
    return [i for i in range(1, x + 1) if x % i == 0]

n = int(input("Enter a number: "))
factors = facts(n)

print(f"Factors of {n} are: {factors}")

Enter a number: 6
Factors of 6 are: [1, 2, 3, 6]

In [ ]:
#11.	Write lambda functions to find area of square, rectangle and triangle.
sarea=lambda a:a*a
rarea=lambda a,b:a*b
tarea=lambda a,b:((1/2)*a*b)

a=int(input('Enter the side of the square : '))
print('area =',sarea(a),'\n')

a=int(input("Enter rectangle length : "))
b=int(input('Enter rectangle bredth : '))
print('area',rarea(a,b),'\n')

a=int(input("Enter base of the triangle : "))
b=int(input('Enter the height : '))
print('area',tarea(a,b),'\n')

area = 16

In [ ]:
d1={'name':'arathi','age':21,'height':154}
print(d1)
print(d1.keys())
print(d1.values())
print(d1.items())
print(d1['age'])
print(d1.pop('age'))
print(d1.update({'name':'archana'}))
print(d1)
print(d1.update({'name2':'aparna'}))
print(d1)
d2={'mobile no.':98958001132}
print(d1|d2)
m={**d1,**d2}
print(m)

{'name': 'arathi', 'age': 21, 'height': 154}
dict_keys(['name', 'age', 'height'])
dict_values(['arathi', 21, 154])
dict_items([('name', 'arathi'), ('age', 21), ('height', 154)])
21
21
None
{'name': 'archana', 'height': 154}
None
{'name': 'archana', 'height': 154, 'name2': 'aparna'}
{'name': 'archana', 'height': 154, 'name2': 'aparna', 'mobile no.': 98958001132}
{'name': 'archana', 'height': 154, 'name2': 'aparna', 'mobile no.': 98958001132}

In [ ]:
d1={'b':2,'a':1,'c':3}
d2={1,2,3}
print(d1.update({'b':20}))
print(d1)
sorted(d1.keys())
dict(sorted(d1.items()))

None
{'b': 20, 'a': 1, 'c': 3}

{'a': 1, 'b': 20, 'c': 3}

In [ ]:
def function():
  print("Hello")
function()

Hello

In [ ]:
def spin_words(sentence):
    words = sentence.split()
    result = ' '.join([i[::-1] if len(i) >= 5 else i for i in words])
    print(result)
    return None

# Example usage:
spin_words("Hey fellow warriors")

Hey wollef sroirraw

In [ ]:
!python --version

Python 3.10.12